
<div class="personalcard">
    <header id="personalHeader">
        <a id="title" class="inline" href="/api/post/{{id}}">
            <h4 id="title"> {{title}} </h4>
        </a>
        <p class="inline" id="dateCreated"> Posted by {{user.username}} on {{createdAt}} </p>
    </header>
    <h6 id="content">
       {{content}}
    </h6>
</div>