
<div class="personalcard">
    <header id="personalHeader">
        <a id="title" class="inline" href="">
            <h4 id="title"> {{post.title}} </h4>
        </a>
        <p class="inline" id="dateCreated"> Posted by {{post.user.username}} on {{post.createdAt}} </p>
    </header>
    <h6 id="content">
        {{post.content}}
    </h6>
</div>

{{#each post.comments as |comments|}}
{{>comments}}
{{/each}}


<div id="commentPost">
    <div id="commentPostSpace" data-id={{post.id}} >
        <h4 data-id={{post.id}}> Comment</h4>
        <textarea  class="textarea" id='commentcontentInput' data-id={{post.id}}></textarea>
        <button  id="commentPostBtn"data-id={{post.id}}> Create </button>
    </div>
 </div>
</div>


